@{
    Layout = "_LayoutFeaturePage";
}
@using Covid19_Vaccination_Infogate_MVC.Models
@using Covid19_Vaccination_Infogate_MVC.Helpers
@using System.IO;
@using Newtonsoft.Json;
@{
    Account account = SessionHelper.GetObjectFromJson<Account>(Context.Session, "AccountInfo");
    Organization org = SessionHelper.GetObjectFromJson<Organization>(Context.Session, "ORGProfile");
}
<link rel="stylesheet" href="~/css/MOHManageOrg.css">
<script src="~/js/MOHManageOrg.js"></script>

<div class="holder-function-panel">
    <!-- MENU -->
    @{
        @await Component.InvokeAsync("ViewFunctionMenu");
    }
    <!-- END MENU -->
    <!-- FUNCTIONAL PANEL -->
    <div class="function-panel">
        <br>
        <div class="filter-panel">
            <div class="filter-pane">
                <div>
                    
                        <label for="province-name">Tỉnh/Thành phố</label>
                        <select type="text" name="province-name" id="select-province">
                            <option value="">@org.ProvinceName</option>
                            @{
                                    LocalProvince[] province = null;
                                    LocalDistrict[] district = null;
                                    LocalTown[] town = null;
                                    int provincecode = -1;
                                    int districtcode = -1;
                                    int towncode = -1;

                                    using (StreamReader r = new StreamReader(@Url.Content("wwwroot/local.json")))
                                    {
                                        string json = r.ReadToEnd();
                                        province = JsonConvert.DeserializeObject<LocalProvince[]>(json);
                                    }
                                    int i = 0;
                                    for (i = 0; i < 63; i++)
                                        if (province[i].Name != org.ProvinceName)
                                        {
                                        <option value="@i">@province[i].Name</option>
                                            continue;
                                        }
                                        else
                                            provincecode = i;
                                <script>
                                    $("#select-province option:first-child").val('@provincecode')
                                </script>
                            }
                        </select>
                    </div>
                <div>
                    <label for="district-name">Quận/Huyện/Thị xã</label>
                    <select type="text" name="district-name" id="select-district">
                        <option value="">@org.DistrictName</option>
                        @{
                            i = 0;
                            district = province[provincecode].Districts;
                            while (i < district.Length)
                            {
                                if (district[i].Name != org.DistrictName)
                                {
                                        <option value="@i">@district[i].Name</option>
                                }
                                else
                                    districtcode = i;
                                i++;
                            }
                                <script>
                                    $("#select-district option:first-child").val('@districtcode')
                                </script>
                            }
                    </select>
                </div>

                <div>
                    <label for="town-name">Xã/Phường/Thị trấn</label>
                    <select type="drop-down" name="town-name" id="select-town">
                        <option value="">@org.TownName</option>';
                        @{
                            i = 0;
                            town = district[districtcode].Wards;
                            while (i < town.Length)
                            {
                                if (town[i].Name != org.TownName)
                                {
                                    <option value="@i">@town[i].Name</option>
                                }
                                else
                                    towncode = i;
                                i++;
                            }
                            <script>
                                $("#select-town option:first-child").val('@towncode')
                            </script>
                        }
                    </select>
                </div>

                <button class="btn-medium-bordered-icon btn-filter" id="btn-filter-org">
                    Tìm kiếm
                </button>
            </div>
        </div>
        <br>

        <div class="panel-list">
            <div class="list-name">
                <div class="org" id="list-name-org">Danh sách các đơn vị tiêm chủng</div>
            </div>
            <br>

            <div class="holder">
                <div class="list-org" id="list-org">
                </div>
            </div>
        </div>

    </div>
    <br>
</div>
    </div>

<br>
